@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


html{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color:cornsilk;
  }
  
  .center-div {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .left-side,
  .right-side {
      height: 80vh;
      border: 1px solid black;
      font-size: 25px;
      padding: 10px 20px;     
  }
  .right-side {
    overflow: scroll;
    background-color: azure;
  }
  
  .left-side{
      background-color: black;
      color: aliceblue;
  }
  
  @media (max-width: 768px){
      .center-div{
          width: 80vw;
          margin: 100px auto;
          display: block;
      }
      .left-side,
      .right-side {
          width: 100%;
      }
  }
